
@media screen and (max-width: 1872px) {
  .form__title {
    padding-right: 3%;
  }
  .slide {
    width: 71%;
  }
}
@media screen and (max-width: 1836px) {
  .square__container {
    margin-left: 5%;
  }
  .slide {
    width: 72%;
  }
}
@media screen and (max-width: 1692px) {
  .form {
    &__title {
      padding-right: 0;
    }
    &__mini-text {
      padding-right: 5%;
    }
  }
  .logo {
    padding-right: 10%;
  }
  .do {
    &__button {
      padding-left: 10%;
      padding-right: 10%;
    }
    &__price {
      font-size: 28px;
    }
    &__container {
      & .green-button {

      }
    }
  }
  .slider-two__count {
    margin-top: -14.5%;
  }
  .white-button {
    padding-top: 0.3%;
  }
  .green-button_pad-top {
    padding-top: 2.5% !important;
  }
  .green-bg .form__mini-text {
    width: 60%;
  }
  .form__input_width {
    width: 55% !important;
  }
  .square__container {
    margin-left: 2%;
  }
  .car-title {
    font-size: 34px;
  }
  .slide {
    width: 80%;
  }
  .compilation__end-price {
    margin-bottom: -1%;
  }
}
@media screen and (max-width: 1600px) {
  .form__title {
    font-size: 18px;
    padding-right: 5%;
  }
  .green-bg .form__mini-text {
    width: 65%;
  }
  .form__input_width {
    width: 59% !important;
  }
  .green-placeholder {
    &_bottom {
      &-last {
        margin-top: -6%;
      }
      &-first {
        margin-top: -6%;
      }
    }
    &__point {
      font-size: 16px;
    }
  }
  .square__text {
    font-size: 32px;
  }
  .car-title {
    font-size: 32px;
  }
  .slider-two__count {
    margin-top: -14.2%;
  }
  .slide {
    width: 85%;
  }
  .select-container:after {
    margin-top: -16%;
    margin-left: 78%;
  }
  .row_car-soul {
    padding-bottom: 22%;
  }
}
@media screen and (max-width: 1536px) {
  .green-bg {
    & .form__mini-text {
      font-size: 8px;
    }
  }
  .car-title {
    font-size: 28px;
  }
  .slide {
    width: 90%;
  }
  .do {
    &__button {
      padding-left: 5%;
      padding-right: 5%;
    }
    &__price {
      font-size: 24px;
    }
  }
  .popcorn__cloud {
    font-size: 18px;
    right: 20%;
  }
  .slider-two__count {
    margin-top: -13.9%;
  }
  .green-placeholder {
    &_bottom {
      &-last {
        margin-top: -7%;
      }
      &-first {
        margin-top: -7%;
      }
    }
  }
  .row_car-soul {
    padding-bottom: 21%;
  }
  .modal-window__cross {
    margin-top: -5%;
  }
  .modal-window {
    left: 38%;
  }
}
@media screen and (max-width: 1440px) {
  .green-button_fnt-10 {
    font-size: 8px;
  }
  .logo {
    padding-right: 12%;
  }
  .square {
    &__text {
      padding-top: 8%;
      font-size: 28px;
    }
  }
  .image img {
    width: 100%;
  }
  .green-placeholder__point {
    font-size: 14px;
  }
  .green-placeholder {
    &_bottom {
      &-last {
        margin-top: -8%;
      }
      &-first {
        margin-top: -8%;
      }
    }
  }
  .slide {
    width: 95%;
  }
  .do__price {
    font-size: 22px;
  }
  .green-button_pad-top {
    padding-top: 2% !important;
  }
  .popcorn {
    &__man {
      padding-top: 10%;
    }
    &__cloud {
      font-size: 14px;
      bottom: 15%;
      right: 22%;
    }
  }
  .select-container:after {
    margin-left: 75%;
    margin-top: -17%;
  }
  .slider-two__count {
    margin-top: -13.4%;
  }
  .compilation {
    &__end {
      font-size: 22px;
      &-price {
        font-size: 34px;
      }
    }
  }
  .green-placeholder_bottom-last .green-placeholder__point {
    left: 25%;
  }
  .green-placeholder_bottom-first .green-placeholder__point {
    right: 25%;
  }
  .green-placeholder_top-first .green-placeholder__point {
    right: 25%;
  }
  .green-placeholder_top-last .green-placeholder__point {
    left: 25%;
  }
  .row_car-soul {
    padding-bottom: 20%;
  }
  .slider-two__count {
    margin-top: -13%;
  }
  .compilation__end-price {
    margin-bottom: -1.5%;
  }
  .modal-window {
    left: 37%;
  }
  .modal-success {
    left: 38%;
  }
}
@media screen and (max-width: 1366px) {
  .number {
    font-size: 22px;
  }
  nav a {
    padding-left: 3%;
  }
  .square {
    &__text {
      font-size: 26px;
    }
    padding-top: 6%;
  }
  .car-title {
    font-size: 26px;
  }
  .do {
    &__button {
      padding-left: 2%;
      padding-right: 2%;
    }
    &__price {
      font-size: 18px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .green-button_pad-top {
    padding-top: 1% !important;
  }
  .form__title {
    font-size: 16px;
  }
  .offer__text {
    width: 50%;
  }
  .slide {
    width: 99%;
  }
  .slider-two__count {
    margin-top: -12.9%;
  }
  .footer-form {
    &__text {
      font-size: 14px;
    }
    &__mini-text {
      font-size: 6px;
    }
  }
  .popcorn {
    &__man {
      padding-top: 20%;
    }
    &__cloud {
      font-size: 12px;
      padding-left: 5%;
      padding-right: 5%;
      right: 23%;
      bottom: 10%;
    }
  }
  .text__description {
    font-size: 16px;
  }
  .digital__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1366px) {
  .popcorn {
    &__man {
      padding-top: 25%;
    }
    &__cloud {
      font-size: 12px;
      padding-left: 3%;
      padding-right: 3%;
      right: 25%;
      bottom: 5%;
    }
  }
  .compilation {
    width: 85%;
  }
  .slider-two {
    & .owl-nav {
      right: 4%;
      margin-top: -25%;
    }
    &__count {
      margin-top: -15.5%;
      right: 5.5%;
    }
  }
  .modal-window__cross {
    margin-top: -4%;
  }
}
@media screen and (max-width: 1280px) {
  .number {
    font-size: 18px;
  }
  .green-bg .form__mini-text {
    font-size: 6px;
  }
  .square {
    padding-top: 7%;
    &__text {
      font-size: 22px;
    }
  }
  .car-title {
    font-size: 24px;
  }
  .green-placeholder__point {
    font-size: 12px;
  }
  .do {
    &__price {
      font-size: 16px;
    }
    &__container {
      & .green-button_mini-font {
        font-size: 12px;
      }
    }
  }
  .container_padding-side {
    & .green-button {
      font-size: 8px;
    }
  }
  .compilation {
    width: 90%;
  }
  .slider-two .owl-nav {
    right: 2%;
    margin-top: -28%;
  }
  .slider-two__count {
    margin-top: -17.5%;
  }
  .slider-two__count {
    right: 3.5%;
    margin-top: -18%;
  }
  .modal-window__cross {
    margin-left: 96%;
  }
  nav a {
    font-size: 12px;
  }
  .popcorn {
    &__cloud {
      position: absolute;
      font-size: 14px;
      margin-bottom: 50%;
      margin-right: -5%;
    }
  }
  .select-container:after {
    margin-left: 73%;
  }
}
@media screen and (max-width: 1232px) {
  .whatapp__number {
    font-size: 12px;
  }
  .form {
    width: 35%;
  }
  .do {
    &__container {
      align-items: center;
    }
    &__price {
      font-size: 14px;
    }
  }
  .slider-two .owl-nav {
    margin-top: -31%;
    right: 1.2%;
  }
  .slider-two__count {
    margin-top: -20.5%;
    right: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .green-button_fnt-10 {
    font-size: 6px;
  }
  .logo {
    padding-right: 14%;
  }
  .form__title {
    font-size: 14px;
  }
  .square {
    padding-top: 10%;
    &__text {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 32px;
  }

  .compilation {
    width: 95%;
  }
  .slider-two .owl-nav {
    right: -1%;
  }
  .slider-two__count {
    right: 1%;
    margin-top: -17.5%;
  }

  .select-container:after {
    margin-left: 70%;
    margin-top: -18%;
  }
  .modal-window {
    left: 35%;
  }
  .modal-success {
    left: 36%;
  }
}
@media screen and (max-width: 1194px) {
  .slide {
    &__img {
      flex-basis: 300%;
    }
    &__review {
      font-size: 16px;
    }
  }
  .do {
    &__price {
      font-size: 28px;
    }
    &__button {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 0.5%;
    }
    &__container {
      & .green-button_mini-font {
        padding-top: 0.5%;
      }
    }
  }
  .container {
    &_padding-side {
      padding-left: 15%;
      padding-right: 10%;
      .green-button {
        font-size: 12px;
      }
    }
  }
  .footer-form {
    &__text {
      font-size: 18px;
    }
  }
  .select-container:after {
    margin-left: 80%;
    margin-top: -16%;
  }
}
@media screen and (max-width: 1136px) {
  .form {
    &__text {
      font-size: 12px;
    }
    &__mini-text {
      font-size: 8px;
    }
  }
  .green-placeholder__point {
    font-size: 8px;
  }
  .slide__img {
    flex-basis: 350%;
  }
  .slider-two .owl-nav {
    margin-top: -32%;
  }
  .slider-two__count {
    margin-top: -20.5%;
  }
  .popcorn__cloud {
    margin-right: -10%;
  }
  .compilation {
    align-items: center;
  }
  .modal-window {
    left: 33%;
  }
}
@media screen and (max-width: 1125px) {
  .whatapp__number {
    font-size: 10px;
  }
}
@media screen and (max-width: 1102px) {
  .modal-success {
    left: 33%;
  }
}
@media screen and (max-width: 1080px) {
  nav a {
    font-size: 10px;
  }
  .number {
    font-size: 16px;
  }
  .slider-two__count {
    margin-top: -20%;
  }
}
@media screen and (max-width: 1024px) {
  .green-button_fnt-10 {
    font-size: 4px;
  }
  .form__title {
    font-size: 12px;
  }
  .form__mini-text {
    margin-bottom: 0;
  }
  .tile__big-digital {
    font-size: 58px;
  }
  .square__img {
    width: 90px;
  }
  .slider-two__count {
    margin-top: -19.5%;
  }
  .popcorn__cloud {
    margin-right: -15%;
    margin-bottom: 55%;
  }
  .select-container:after {
    margin-left: 76%;
  }
  .modal-window {
    left: 31%;
    &__cross {
      margin-left: 97%;
    }
  }
}
@media screen and (max-width: 991px) {
  header {
    background-position: 45% 0;
  }
  .green-button_fnt-10 {
    font-size: 10px;
  }
  .logo {
    z-index: 5;
  }
  nav {
    position: absolute !important;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    display: block;
    padding-top: 20%;
    display: none;
    & a {
      display: block;
      z-index: 6;
      text-align: center;
      font-size: 18px;
      padding-bottom: 3%;
      padding-left: 0;
    }
    & .green-button {
      display: block;
      width: 20%;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    & .whatapp__number {
      font-size: 12px;
      padding-left: 0;
      padding-bottom: 0;
    }
    & .whatapp__text {
      text-align: center;
    }
  }
  .ipad {
    display: block;
  }
  .sandwich {
    z-index: 5;
  }
  .green-number {
    font-size: 22px;
    color: #8DC63F;
    padding-left: 0;
  }
  .whatapp-logo {
    width: 34px;
    margin: 0 auto;
    padding-bottom: 2%;
  }
  .offer {
    padding-left: 0;
    & .form {
      padding-bottom: 7%;
    }
    &__text {
      width: 85%;
      padding-bottom: 15%;
    }
  }
  .form {
    width: 55%;
    &__title {
      font-size: 24px;
    }
    &__title {
      font-size: 16px;
    }
  }
  .green-bg h2 {
    font-size: 24px;
  }
  .green-bg .form__mini-text {
    font-size: 10px;
    line-height: 100%;
  }
  .square {
    padding-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    &__img {
      width: 60px;
    }
    &__text {
      font-size: 16px;
    }
    &__more {
      height: 50px;
      font-size: 14px;
    }
  }
  .text {
    &__mini-title {
      padding-bottom: 2%;
    }
    h3 {
      padding-top: 2%;
    }
    &__description {
      font-size: 14px;
    }
  }
  h3 {
    font-size: 24px;
  }
  .car-bg {
    & h2 {
      text-align: left;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & .white-button {
      float: none;
      display: block;
      margin: 0 auto;
      width: 25%;
      margin-bottom: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  }
  .green-placeholder__line {
    height: 20px;
  }
  .row_car-soul {
    padding-bottom: 18%;
  }
  .car-title {
    font-size: 18px;
  }
  .car_pad-bottom {
    padding-bottom: 5%;
  }
  .slide {
    display: block;
    width: 90%;
    &__review {
      font-size: 18px;
    }
  }
  .image {
    padding-bottom: 5%;
  }
  .long-img {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    & img {

    }
  }
  h3 {
    font-size: 35px;
    padding-top: 2%;
  }
  .do {
    padding-left: 10%;
    padding-right: 10%;
    &__text {
      font-size: 18px;
    }
  }
  .text {
    h2 {
      font-size: 36px;
    }
    & .green-bg {
      padding-left: 10%;
    }
    &__description {
      font-size: 18px;
      padding-bottom: 1%;
    }
    &_left-padding {
      padding-right: 0;
    }
  }
  .container_padding-side {
    padding-left: 10%;
  }
  .compilation {
    flex-direction: column;
    width: 85%;
    &__col {
      &:first-child {
        order: 2;
        padding-right: 0;
      }
      &:last-child {
        order: 1;
        padding-bottom: 10%;
      }
    }
    &__name {
      margin-bottom: 0;
    }
  }
  .footer-form {
    width: 80%;
    margin: 0 auto;
    &__mini-text {
      font-size: 10px;
    }
    &__container {
      width: 65%;
      margin: 0 auto;
    }
  }
  .slider-two {
    & .owl-nav {
      margin-top: -80%;
      right: 1.4%;
    }
  }
  .slider-two__count {
    margin-top: -65.5%;
    right: 3.4%;
  }
  footer {
    padding-top: 5%;
    & input[type=tel] {
      padding-top: 3%;
      padding-bottom: 3%;
      &::placeholder {
        font-size: 18px;
      }
    }
  }
  .select-container:after {
    margin-left: 73%;
    margin-top: -10%;
  }
  .popcorn {
    &__man {
      padding-top: 3%;
    }
    &__cloud {
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 30%;
      margin-right: 5%;
    }
  }
  .green-bg {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media screen and (max-width: 960px) {
  .slider-two .owl-nav {
    margin-top: -85%;
  }
  .slider-two__count {
    margin-top: -70%;
  }
  .modal-window {
    left: 29%;
    &__cross {
      margin-top: -3%;
    }
  }
}
@media screen and (max-width: 900px) {
  .slider-two__count {
    margin-top: -69%;
  }
  .modal-window {
    left: 28%;
  }
  .modal-success {
    left: 30%;
  }
}
@media screen and (max-width: 855px) {
  .slider-two .owl-nav {
    margin-top: -90%;
  }
  .slider-two__count {
    margin-top: -73%;
  }
  .modal-window {
    left: 25%;
  }
}
@media screen and (max-width: 823px) {
  .car-bg .white-button {
    margin-bottom: 1%;
  }
  .slider-two__count {
    margin-top: -72.5%;
  }
  .popcorn__cloud {
    margin-right: 0;
    margin-bottom: 33%;
  }
  .modal-success {
    left: 28%;
  }
}
@media screen and (max-width: 812px) {
  .select-container:after {
    margin-top: -10.5%;
  }
}
@media screen and (max-width: 800px) {
  .slider-two__count {
    margin-top: -72%;
  }
}
@media screen and (max-width: 768px) {
  .popcorn__cloud {
    margin-right: -5%;
    margin-bottom: 40%;
  }
  .slider-two .owl-nav {
    margin-top: -99%;
  }
  .slider-two__count {
    margin-top: -79.5%;
  }
  .modal-window {
    left: 23%;
  }
  .modal-success {
    left: 26%;
  }
}
@media screen and (max-width: 736px) {
  .square__text {
    font-size: 14px;
  }
  .car-bg .white-button {
    width: 30%;
  }

  .car-bg .text__description {
    font-size: 14px;
  }
  .slider-two .owl-nav {
    margin-top: -103%;
  }
  .slider-two__count {
    margin-top: -82.5%;
    right: 3.9%;
  }
  .modal-window {
    left: 21%;
    &__cross {
      margin-left: 99%;
      margin-top: -2%;
    }
  }
  .modal-success {
    left: 25%;
  }
}
@media screen and (max-width: 667px) {
  .form {
    width: 60%;
  }
  .square {
    &__text {
      font-size: 12px;
    }
    &__img {
      width: 50px;
    }
  }
  .slider-two .owl-nav {
    margin-top: -110%;
  }
  .slider-two__count {
    margin-top: -87.5%;
  }
  .select-container:after {
    margin-left: 71%;
  }
  .popcorn__cloud {
    margin-right: -10%;
  }
  .form__input_width {
    width: 56% !important;
  }
  .modal-window {
    left: 18%;
  }
  .modal-success {
    left: 21%;
  }
}

@media screen and (max-width: 640px) {
  .number {
    font-size: 14px;
  }
  .whatapp__number {
    font-size: 8px;
  }
  .form {
    width: 65%;
  }
  .row_car-soul {
    padding-bottom: 13%;
  }
  .slider-two .owl-nav {
    margin-top: -115%;
  }
  .slider-two__count {
    margin-top: -91%;
  }
  .select-container:after {
    margin-top: -11%;
  }
  .modal-success {
    left: 20%;
  }
}
@media screen and (max-width: 568px) {
  .sandwich {
    display: flex;
    justify-content: flex-end;
  }
  .mobile-none {
    display: none;
  }
  .number {
    text-align: left;
  }
  .whatapp {
    justify-content: flex-end;
    &__number {
      font-size: 9px;
    }
    &__text {
      font-size: 10px;
    }
  }
  h1 {
    font-size: 30px;
  }
  .offer__text {
    font-size: 14px;
    width: 100%;
    padding-bottom: 60%;
  }
  .form {
    width: 70%;
    &__mini-text {
      width: 100%;
      order: 2;
      font-size: 9px;
    }
    &__row {
      margin-bottom: 0;
      flex-direction: column;
      & input {
        margin-bottom: 5%;
        width: 100%;
      }
    }
    & .green-button {
      order: 1;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-bottom: 2%;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 14px;
      width: 100%;
      padding-bottom: 5%;
    }
  }
  .tile {
    margin-left: 2%;
    padding-top: 6%;
    margin-top: 10%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
    &:last-child {
      margin-right: 1%;
    }
  }
  h2 {
    font-size: 24px;
  }
  nav {
    padding-left: 25% !important;
    padding-top: 30%;
    & .green-button {
      width: 55%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 0;
    }
    & a {
      text-align: left;
    }
    & .whatapp__text {
      text-align: left;
    }
    & .whatapp-logo {
      margin: 0;
    }
  }
  header {
    background-position: 50% 0;
  }
  .square {
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 20%;
    &:last-child {
      margin-right: 1%;
    }
    &__img {
      width: 93px;
    }
    &__text {
      font-size: 18px;
    }
    &__more {
      margin-bottom: 10%;
    }
  }
  h3 {
    font-size: 24px;
  }
  .text__description {
    font-size: 12px;
  }
  .car-bg .white-button {
    width: 55%;
  }
  .slide {
    width: 98%;
    &__review {
      font-size: 14px;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  .do {
    padding-left: 5%;
    padding-right: 5%;
    &__text {
      font-size: 14px;
    }
    &__price {
      font-size: 16px;
    }
  }
  .text {
    & h2 {
      font-size: 24px;
    }
    & .green-bg {
      padding-left: 5%;
    }
    &__mini-title_big {
      line-height: 100%;
    }
    & .green-button {
      width: 60%;
      padding-top: 3%;
      padding-bottom: 3%;
      text-transform: uppercase;
    }
  }
  .container_padding-side {
    padding-left: 5%;
    padding-right: 5%;
  }
  .digital {
    &__text {
      font-size: 14px;
      line-height: 100%;
    }
  }
  .compilation {
    width: 98%;
    &__text {
      font-size: 14px;
    }
    &__start-price {
      font-size: 16px;
    }
    &__end {
      font-size: 18px;
      &-price {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }
  .owl-carousel .owl-item img {
    width: 90%;
  }

  .slider-two__count {
    margin-top: -153%;
  }
  .footer-form {
    width: 100%;
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 14px;
    }
    &__button {
      font-size: 14px;
      text-transform: uppercase;
      height: 50px;
    }
  }
  .select-container:after {
    margin-top: -13.5%;
    margin-left: 87%;
  }
  .footer-form__container {
    width: 100%;
  }
  .popcorn {
    &__man {
      max-width: 100%;
    }
    &__cloud {
      font-size: 16px;
      margin-right: -10%;
      margin-bottom: 50%;
      padding-left: 2%;
      padding-right: 2%;
    }
  }
  .slider-two .owl-nav {
    margin-top: -110%;
    right: 0;
  }
  .slider-two__count {
    margin-top: -83%;
  }
  .slide .owl-item img {
    width: 100%;
  }
  .modal-window {
    left: 11%;
  }
  .modal-success {
    left: 16%;
  }
}
@media screen and (max-width: 414px) {
  .slider-two .owl-nav {
    margin-top: -156%;
  }
  .slider-two__count {
    margin-top: -116%;
  }
  .popcorn__cloud {
    right: 15%;
  }
  .select-container:after {
    margin-left: 85%;
    margin-top: -14%;
  }
  .modal-window {
    left: 1%;
    width: 98%;
    &__cross {
      display: none;
    }
  }
  .modal-success {
    left: 2%;
  }
}
@media screen and (max-width: 411px) {
  .modal-success {
    left: 1.5%;
  }
}
@media screen and (max-width: 375px) {
  .slider-two .owl-nav {
    margin-top: -170%;
  }
  .slider-two__count {
    margin-top: -125%;
  }
  .select-container:after {
    margin-top: -15%;
    margin-left: 84%;
  }
  .modal-success {
    left: 1%;
    width: 98%;
  }
}
@media screen and (max-width: 360px) {
  .slider-two .owl-nav {
    margin-top: -175%;
  }
}
@media screen and (max-width: 320px) {
  .tile {
    padding-top: 0;
  }

  .slider-two .owl-nav {
    margin-top: -210%;
    right: -4%;
  }
  .select-container:after {
    margin-top: -15%;
    margin-left: 80%;
  }
  .popcorn__cloud {
    margin-right: -13%;
    margin-bottom: 45%;
  }
  .slider-two__count {
    margin-top: -153%;
  }
}
@media screen and (min-width: 2560px) {
  .slider-two__count {
    margin-top: -17.1%;
  }
  .popcorn {
    &__man {
      padding-top: 5%;
    }
    &__cloud {
      right: 10%;
    }
  }
}
@media screen and (max-height: 414px) {
  .modal-window {
    top: 5%;
  }
}
@media screen and (max-height: 414px) {
  .modal-window {
    top: 1%;
  }
}
@media screen and (max-height: 360px) {
  .modal-window__mini-text {
    padding-bottom: 5%;
  }
}
@media screen and (max-height: 360px) {
  .modal-window {
    &__title {
      margin-bottom: 0;
    }
    &__text {
      padding-bottom: 1%;
    }
  }
}